src/main/resources/*
nbproject/
.idea/
*.cproject
*.iml
*.class
*.log
bin/
.settings/
.classpath
.project
libjoctomap.so
target/
build/
joctomap-natives/build
joctomap-natives/lib
joctomap-natives/bin
joctomap-natives/cmake-build-debug
.attach*
src/main/resources/*
joctomap-natives/.gdbinit
nbactions*
nb-configuration.xml
.cproject
