.idea/
*.iml
*.class
*.log
bin/
.settings/
.classpath
.project
libjoctomap.so
target/
src/main/resources/joctomap-natives/build
src/main/resources/joctomap-natives/lib
.attach*
src/main/resources/joctomap-natives/.cproject
src/main/resources/joctomap-natives/.gdbinit
