src/main/resources/*
nbproject/
.idea/
*.cproject
*.iml
*.class
*.log
bin/
.settings/
.classpath
.project
*.so*
target/
build/
joctomap-core/target/*
joctomap-ros/target/*
joctomap-natives/build
joctomap-natives/lib
joctomap-natives/bin
joctomap-natives/cmake-build-debug
.attach*
joctomap-natives/.gdbinit
nbactions*
nb-configuration.xml
.cproject
